<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501737909733-9eos901u6ia9rl1v6abdrc2emtj76b8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501737909733-9eos901u6ia9rl1v6abdrc2emtj76b8m</string>
	<key>API_KEY</key>
	<string>AIzaSyByDCQ6Izor5EEN52ElbcxARN1oJvGwkVs</string>
	<key>GCM_SENDER_ID</key>
	<string>501737909733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kraaakilo.kranite</string>
	<key>PROJECT_ID</key>
	<string>kranite-13v</string>
	<key>STORAGE_BUCKET</key>
	<string>kranite-13v.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501737909733:ios:a0084134a86d88f530d30c</string>
</dict>
</plist>